/**
 * Place your custom CSS styles here.
 **/

 .annotation-box{
    margin: auto;
    width: 75%;
    height: 75%;
    box-sizing: border-box;
}

 .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
 }

 .start-button {
   position: fixed;
   top: 50px;
   left: 25px;
}